.navbar {
  height: 55px;
  background: rgb(100, 1, 1);
}

.links {
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
}

.navbar-right {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-size: 22px;
}

.navbar a:hover {
  border-bottom: 1px solid white;
}

.navbar a.active {
  border-bottom: 3px solid white;
}