.reserve-form {
  margin-top: 75px;
  margin-left: 200px;
  font-family: sans-serif;
}

label.reserve {
  font-size: 15px;
  font-weight: 525;
}

.form-group-left {
  display: inline-block;
  width: fit-content;
  font-weight: 400;
  padding-right: 100px;
}

.form-group-middle {
  display: inline-block;
  width: fit-content;
  font-weight: 400;
  padding-right: 100px;
}

.form-group-right {
  display: inline-block;
  width: fit-content;
  font-weight: 400;
}

input[type="submit"].reserve {
  font-size: 20px;
  font-family: sans-serif;
  background-color: maroon;
  color: white;
  border-radius: 15px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  margin-top: 300px;
}
